.logout {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #ff2617;
  margin-left: 25px;
  width: 140px;
  height: 65px;
  border: none;
  border-radius: 8px;
}

.logout:active {
  border: inset;
}

.logout:focus {
  outline: none;
}
