.sidebarToggler {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #fcfcfc;
}

.navBar {
  position: fixed;
  height: 110px;
  width: 100%;
  background-color: #333;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 30px;
  display: flex;
  align-items: center;
}

.username {
  color: #b0b0b0;
  font-size: 24px;
  margin-left: 25px;
}

.username strong {
  color: #fcfcfc;
}
