.sidebar {
  background-color: #0398fc;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  overflow: hidden;
}

.sidebarHidden {
  transition: width 500ms ease 300ms;
  width: 0;
}

.sidebarHidden * {
  transition: opacity 300ms ease;
  opacity: 0;
}

.sidebarActive {
  transition: width 500ms ease;
  width: 350px;
}

.sidebarActive * {
  transition: opacity 300ms ease 500ms;
  opacity: 1;
}

.dimmer {
  display: block;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: opacity 300ms ease-out;
}

.dimmerActive {
  opacity: 0.7;
  display: block;
}

.dimmerHidden {
  opacity: 0;
  display: none;
}

.logo {
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
  color: #fcfcfc;
}

.navBox {
  margin-top: 80px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
  justify-content: space-evenly;
}

.sidebarFooter {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  text-align: center;
}

.socialMediaList {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.socialMediaItem a {
  font-size: 24px;
  color: #fcfcfc;
}

.copyright {
  font-size: 18px;
  color: #e8e8e8;
}

