.leftArrow,
.rightArrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: #e8e8e8;
  text-align: center;
  background-color: transparent;
  border: none;
}

.leftArrow {
  left: 20px;
}

.rightArrow {
  right: 20px;
}

.leftArrow:focus,
.rightArrow:focus {
  outline: none;
}
